<div class="card-large">
  <div class="card-large-img"><img
      src="/uploads/dion-tavenier-h-Qb-9H6Big-unsplash.jpg"
      alt="#"
    /></div>
  <div class="card-large-text">
    <p>Datum</p>
    <h2>Malediven</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua.</p>
    <button>learn more</button>
  </div>
</div>