<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <button id="logo" href="/">w</button>
      <div class="nav">
        <a href="/angebot">Angebot</a>
        <a href="/team">Team</a>
        <a href="/kontakt">Kontakt</a>
        <button class="termin" href="/termin">Termin buchen</button>
      </div>
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>