<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a class="button" id="logo" href="/">w</a>
      <div class="nav">
        <a href="/angebot">Angebot</a>
        <a href="/team">Team</a>
        <a href="/kontakt">Kontakt</a>
        <a id="nav-button" class="button" href="/termin-patientendetails">Termin
          buchen</a>
      </div>
    </header>

    {{{body}}}

    <hr />
    <footer>
      <div>
        <p>Bahnhofpraxis Wichtrach
          <br />
          AG Bahnhofstrasse
          <br />
          283114 Wichtrach
        </p>
        <p>© 2025 Bahnhofpraxis Wichtrach AG</p>
      </div>
      <a href="www.medix-bern.ch">www.medix-bern.ch</a>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>