<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>

    {{{body}}}

    <hr />
    <footer>
      <div>
        <p>Bahnhofpraxis Wichtrach AG
          <br />
          Bahnhofstrasse 28
          <br />
          3114 Wichtrach
        </p>
        <p>© 2025 Bahnhofpraxis Wichtrach AG</p>
      </div>
      <a href="https://www.medix-bern.ch/" target="_blank">www.medix-bern.ch</a>
      <div>
        <a href="/impressum">Impressum</a>
        <br />
        <a href="/erklaerseite">Erklärseite</a>
      </div>
    </footer>
  </body>

</html>