<div class="body">
  <h2>Angebot</h2>
  <div class="auflistung-angebote">
    <a href="/detail-sprechstunde">
      <div class="card">
        <img class="icon" src="/uploads/comment.svg" alt="" />
        <div class="card-text">
          <h3>Sprechstunde</h3>
          <p>Umfassendes Gespräch als erstes diegnostisches Mittel im Umgang mit
            Ihren Beschwerden.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-labor">
      <div class="card">
        <img class="icon" src="/uploads/lab.svg" alt="" />
        <div class="card-text">
          <h3>Labor</h3>
          <p>Analysen des Blutbilds sowie jeglichen Organwerten und
            weiterführenden Untersuchungen.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-praxisapotheke">
      <div class="card">
        <img class="icon" src="/uploads/shopping-cart.svg" alt="" />
        <div class="card-text">
          <h3>Praxisapotheke</h3>
          <p>Gut sortierte Aphoteke mit mehr als 800 Medikamenten.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-notfaelle">
      <div class="card">
        <img class="icon" src="/uploads/ambulance.svg" alt="" />
        <div class="card-text">
          <h3>Notfälle</h3>
          <p>Medizinische und chirurgische Notfälle behandeln wir rasch und
            kompetent.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-hausbesuche">
      <div class="card">
        <img class="icon" src="/uploads/house-chimney.svg" alt="" />
        <div class="card-text">
          <h3>Hausbesuche</h3>
          <p>Wir führen gerne Hausbesuche durch, wenn eine Konsultation in der
            Praxis nicht möglich ist.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-kleinchirurgie">
      <div class="card">
        <img class="icon" src="/uploads/knife-kitchen.svg" alt="" />
        <div class="card-text">
          <h3>Kleinchirurgie</h3>
          <p>Wir nähen oder kleben gerne Wunden und nehmen Biopsien von unklaren
            Hautveränderungen.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-impfen">
      <div class="card">
        <img class="icon" src="/uploads/syringe.svg" alt="" />
        <div class="card-text">
          <h3>Impfen & Reisen</h3>
          <p>Wir führen Impfungen durch gegen alle möglichen Krankheiten für
            Reisen und dem Alltag.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-testungen">
      <div class="card">
        <img class="icon" src="/uploads/web-test.svg" alt="" />
        <div class="card-text">
          <h3>Testungen</h3>
          <p>Wir machen Test bezüglich Gehör, Lungenfunktion, Blutdruck und
            vieles mehr.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>

    <a href="/detail-roentgen">
      <div class="card">
        <img class="icon" src="/uploads/x-ray.svg" alt="" />
        <div class="card-text">
          <h3>Röntgen</h3>
          <p>Röntgenutersuchung mit einer modernen, digitalen Röntgenanlage.</p>
          <img class="icon-pfeil" src="/uploads/arrow-right.svg" alt="" />
        </div>
      </div>
    </a>
  </div>
</div>