<div class="body">
  <div class="detail-nav">
    <a href="/team">Team</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Ausbildung</a>
  </div>
  <div class="offene-stellen-detail">
    <h2>Ausbildung</h2>
    <div class="offene-stellen-detail-inhalt">
      <p>Seit mehr als 20 Jahren bilden wir mit viel Freude und Sorgfalt die Profis von Morgen aus.</p>
      <div class="stellen-auflistung">
        <div class="stellen-auflistung-text">
          <h3>
            Medizinische Praxisassistent / Praxisassistenin
          </h3>
          <h3>Medizinstudent / Medizinstudentin</h3>
          <h3>Assistenzärztin / Assistenzarzt</h3>
        </div>
      </div>

      <div class="offene-stellen-detail-text-2">
        <div>
          <h3>Das bewirkst du bei uns:</h3>
          <ul>
          <li>Schreiben von Patientenberichten.</li>
          <li>Anrufe entgegennehmen und Sprechstunden koordinieren.
          </li>
          <li>Patienten und Patientinnen empfangen und auf die Behandlung vorbereiten.</li>
          <li>Das ärztliche Fachpersonal bei den Untersuchungen und Behandlungen unterstützen.</li>
          <li>Bedienen von verschiedenen Geräten wie das Röntgen, Blutdruckmessen oder die Aufzeichnung der Herztätigkeit mit dem Elektrokardiogramm (EKG)</li>
          <li>Verbände anbringen, Blutentnahmen machen oder Injektionen setzen.</li>
          <li>Instrumente sterilisieren, Untersuchungsräume reinigen und desinfizieren.</li>
          <li>Erste Hilfe leisten, im Notfall das ärztliche Personal unterstützen.</li>
          <li>Patienten über Behandlungen, Medikamente und Nachsorge informieren.</li>
        </ul>
        </div>

        <div>
        <div>
          <h3>Das bringst du mit:</h3>
          <ul>
          <li>Gute Leistungen in Biologie, Chemie und Physik.</li>
          <li>Obligatorische Schule abgeschlossen
          </li>
          <li>Hohes Verantwortungsbewusstsein</li>
          <li>Besondere Kontaktfreude</li>
          <li>Hygienebewusstsein</li>
        </ul>
      </div>

      <div class="interessiert">
        <h3>Interessiert</h3>
<p>Bitte richte deine schriftliche Bewerbung direkt an
    Dr. med. Kahtarina Schönenbrger. </p>
  <a href="">bhfpraxiswichtrach@hin.ch</a>
  <p>Weitere Auskünfte erteilen wir dir gerne telefonisch.</p>
  <a href="">+41 12 345 67 89</a>
      </div>
    </div>
    </div>
  </div>
</div>