<div class="body">
  <div class="detail-nav">
    <a href="/team">Team</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Profil</a>
  </div>
  <div class="detail-team">
    <h2>Profil</h2>
    <div class="detail-team-inhalt">
      <div class="detail-team-text">
        <h4>Med. Praxiskoordinatorin, Leitende MPA</h4>
        <h3>Jenny Bürki</h3>
        <h5>Ausbildung:</h5>
        <p>Von 2013-2016 machte ich in der Bahnhofpraxis Wichtrach meine
          Ausbildung zur medizinischen Praxisassistentin. Nach meinen ersten
          Berufserfahrungen durfte ich kurze Zeit später den Posten als leitende
          MPA übernehmen.</p>
        <h5>Sprachen:</h5>
        <li>Deutsch (Muttersprache)</li>
        <li>Französisch</li>
        <li>Englisch</li>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/Portrait1.jpeg" alt="" />
    </div>
  </div>

</div>