<div class="body">
  <div class="detail-nav">
    <a href="/angebot">Angebot</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Sprechstunde</a>
  </div>
  <div class="detail-angebot">
    <h2>Sprechstunde</h2>
    <div class="detail-angebot-inhalt">
      <div class="detail-angebot-text">

        <p>Unser erstes und wichtigstes diagnostisches Mittel im Umgang mit
          Ihren Beschwerden ist das Gespräch – die Sprechstunde. Daran
          anschliessend untersuchen wir Sie üblicherweise im Sprechzimmer auch
          körperlich.
          <br /><br />
          Falls nötig, veranlassen wir gezielte Zusatzuntersuchungen, um eine
          Erklärung für Ihre Symptome zu finden, eine Diagnose stellen zu
          können. Dies erfolgt soweit möglich in unserer Praxis, bei Bedarf auch
          bei externen Spezialisten.
          <br /><br />
          Danach besprechen wir die therapeutischen Möglichkeiten mit Ihnen und
          planen deren Umsetzung, was üblicherweise auch Verlaufstermine bei uns
          beinhaltet. Wir begleiten Sie bei akuten Problemen, bis es Ihnen
          wieder gut geht, und bei chronischen Erkrankungen regelmässig und
          fortwährend.
        </p>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/angebot-sprechstunde.jpeg" alt="" />
    </div>
  </div>
</div>