<div class="body">
  <div class="detail-nav">
    <a href="/angebot">Angebot</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Testungen</a>
  </div>
  <div class="detail-angebot">
    <h2>Testungen</h2>
    <div class="detail-angebot-inhalt">
      <div class="detail-angebot-text">

        <p>Wir machen Hörtestungen, Lungenfunktionstestungen, Herzstromkurven
          (EKG), 24h EKG und 24h Blutdruckmessungen, Screening auf
          Schlafapnoesyndrom.
          <br /><br />
          Ausserdem machen wir Tauglichkeitsprüfungen für Autofahrer,
          Feuerwehrleute, Taucher und für Berufslehren.

        </p>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/angebot-testung.jpeg" alt="" />
    </div>
  </div>
</div>