<div class="body">
  <div class="detail-nav">
    <a href="/angebot">Angebot</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Sprechstunde</a>
  </div>
  <div class="detail-angebot">
    <h2>Sprechstunde</h2>
    <div class="detail-angebot-inhalt">
      <div class="detail-angebot-text">

        <p>Unsere Praxis verfügt über eine moderne digitale Röntgenanlage, mit
          der wir die für eine Hausarztpraxis üblichen Röntgenuntersuchungen
          durch unsere Medizinischen Praxisassistentinnen durchführen lassen
          können. Das digitale Format ermöglicht es uns, die Bilder sofort an
          Spezialisten und Spitäler zu senden
        </p>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/Detail_angebot.jpeg" alt="" />
    </div>
  </div>
</div>