<header>
  <a class="button" id="logo" href="/">w</a>
  <div class="nav">

    <a class="active" href="/angebot">Angebot</a>
    <a href="/team">Team</a>
    <a href="/kontakt">Kontakt</a>
    <a id="nav-button" class="button" href="/termin-patientendetails">Termin
      buchen</a>
  </div>
</header>

<div class="body">
  <div class="detail-nav">
    <a href="/angebot">Angebot</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Impfen & Reisen</a>
  </div>
  <div class="detail-angebot">
    <h2>Impfen & Reisen</h2>
    <div class="detail-angebot-inhalt">
      <div class="detail-angebot-text">

        <p>Wir führen Impfungen durch gegen alle möglichen Krankheiten für
          Reisen und Alltag ausser gegen Gelbfieber und Corona. Routine-und
          Wiederholungsimpfungen können unter Umständen auch ausserhalb von
          Arztkonsultationen durch die MPAs durchgeführt werden.
          <br />
          <br />
          Melden Sie sich frühzeitig für einen Reiseberatungstermin, einige
          Impfungen benötigen mehrere Wochen Zeit, bis sie einen vollständigen
          Schutz bieten. Informieren Sie sich vor der Konsultation auf
          healthytravel oder osir über ihr Reiseziel. Wir benötigen detaillierte
          Angaben über alle Ihre Reiseziele, da je nach Region eines Landes
          unterschiedliche Massnahmen nötig sind.
        </p>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/angebot-impfen.jpeg" alt="" />
    </div>
  </div>
</div>