<header>
  <a class="button" id="logo" href="/">w</a>
  <div class="nav">

    <a href="/angebot">Angebot</a>
    <a class="active" href="/team">Team</a>
    <a href="/kontakt">Kontakt</a>
    <a id="nav-button" class="button" href="/termin-patientendetails">Termin
      buchen</a>
  </div>
</header>

<div class="body">
  <div class="detail-nav">
    <a href="/team">Team</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Profil</a>
  </div>
  <div class="detail-team">
    <h2>Profil</h2>
    <div class="detail-team-inhalt">
      <div class="detail-team-text">
        <h4>Dr.med. Fachärztin Allgemeine Innere Medizin</h4>
        <h3>Sandra Schönenberger</h3>
        <h5>Ausbildung:</h5>
        <p>Nach der Facharztausbildung zur Inneren Medizin war ich 2 Jahre
          Oberärtzin am Reginalspital Burgdorf, danach von 2000-2004 Hausärtzin
          in einer HMO-Praxis in Bern. Seit 2004 bin ich initial in der Praxis
          von Dr. Schenk in Wichtrach, seit 2012 in der Bahnhofpraxis Wichtrach
          als Hausärztin tätig.</p>
        <h5>Sprachen:</h5>
        <li>Deutsch (Muttersprache)</li>
        <li>Französisch</li>
        <li>Englisch</li>
        <li>Italienisch</li>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/Portrait1.jpeg" alt="" />
    </div>
  </div>

</div>