{{#posts}}
  <div class="body">
    <div class="detailseite">
      <div class="detailseite-lead">
        <img src="/uploads/jonathan-gallegos-_vA2q0-NroU-unsplash.jpg" alt="" />
        <div class="detailseite-lead-text">
          <p>{{created_at}}</p>
          <div class="detailseite-titel">
            <h2>{{title}}</h2>
            <a href="like"><img
                class="icon"
                src="/uploads/like.png"
                alt=""
              /></a>
            <a href="kommentar"><img
                class="icon"
                src="/uploads/chat.png"
                alt=""
              /></a>
          </div>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum.</p>
          <br />
          <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="detailseite-abschnitt2">
        <div class="detailseite-abschnitt2-text">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum.
          </p>
          <br />
          <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua.</p>
          <br />
          <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="detailseite-imgs">
          <img src="/uploads/dawid-tkocz-7RaonO0Jn9E-unsplash.jpg" alt="" />
          <div class="detailseite-imgs-klein">
            <img src="/uploads/ryan-spencer-WJDR8_QxVR8-unsplash.jpg" alt="" />
            <img src="/uploads/ryan-spencer-XGKaRnWjv1c-unsplash.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <button><a href="/">Home</a></button>
  </div>
{{/posts}}