<div class="body">
  <div class="detail-nav">
    <a href="/team">Team</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Profil</a>
  </div>
  <div class="detail-team">
    <h2>Profil</h2>
    <div class="detail-team-inhalt">
      <div class="detail-team-text">
        <h4>MPA</h4>
        <h3>Stephanie Beer</h3>
        <h5>Ausbildung:</h5>
        <p>Nach meiner Ausbildung als MPA bin ich seit August 2012 Teil des
          Teams in der Bahnhofpraxis tätig.
        </p>
        <h5>Sprachen:</h5>
        <li>Deutsch (Muttersprache)</li>
        <li>Französisch</li>
        <li>Englisch</li>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/Portrait1.jpeg" alt="" />
    </div>
  </div>

</div>