<header>
  <a class="button" id="logo" href="/">w</a>
  <div class="nav">

    <a class="active" href="/angebot">Angebot</a>
    <a href="/team">Team</a>
    <a href="/kontakt">Kontakt</a>
    <a id="nav-button" class="button" href="/termin-patientendetails">Termin
      buchen</a>
  </div>
</header>

<div class="body">
  <div class="detail-nav">
    <a href="/angebot">Angebot</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Labor</a>
  </div>
  <div class="detail-angebot">
    <h2>Labor</h2>
    <div class="detail-angebot-inhalt">
      <div class="detail-angebot-text">

        <p>Unser Labor beinhaltet ein Analyseinstrument für das Blutbild
          (Hämatologie) sowie für Chemiewerte (Cholesterinwerte, Leber- und
          Nierenwerte, Blutzuckerwerte). Weiterhin können wir Herzenzyme messen,
          um einen Herzinfarkt zu diagnostizieren. Auch Urinuntersuchungen zum
          Ausschluss eines Harnwegsinfekts sind möglich. Weiterführende
          laborchemische Untersuchungen werden eingeschickt und in unserem
          Partnerlabor Medics bearbeitet.
        </p>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/angebot-labor.jpg" alt="" />
    </div>
  </div>
</div>