<div class="body">
  <div class="detail-angebot-nav">
    <a href="">Angebot</a>
    <img src="" alt="" />
    <img class="icon-detail-angebot-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Sprechstunde</a>
  </div>
  <div class="detail-angebot-inhalt">
    <h2>Sprechstunde</h2>
    <p>Unsere Praxis verfügt über eine moderne digitale Röntgenanlage, mit der
      wir die für eine Hausarztpraxis üblichen Röntgenuntersuchungen durch
      unsere Medizinischen Praxisassistentinnen durchführen lassen können. Das
      digitale Format ermöglicht es uns, die Bilder sofort an Spezialisten und
      Spitäler zu senden
    </p>
    <img class="detail-angebot-img" src="/uploads/Detail_angebot.jpeg" alt="" />
    <a class="button" href="/termin">Termin buchen</a>
  </div>
</div>