<div class="body">
  <div class="detail-nav">
    <a href="/angebot">Angebot</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Notfälle</a>
  </div>
  <div class="detail-angebot">
    <h2>Notfälle</h2>
    <div class="detail-angebot-inhalt">
      <div class="detail-angebot-text">

        <p>Medizinische und chirurgische Notfälle behandeln wir rasch und
          kompetent und weisen Sie bei Bedarf an Spezialisten und Spitäler
          weiter in enger Zusammenarbeit mit dem Rettungsdienst.
          <br />
          <br />
          Mindestens einmal jährlich machen wir einen praktischen
          Wiederholungskurs Notfallmedizin mit dem ganzen Team.
        </p>
        <a class="button" href="/termin-patientendetails">Termin buchen</a>
      </div>
      <img class="detail-img" src="/uploads/angebot-notfälle.jpg" alt="" />
    </div>
  </div>
</div>