<div class="body">
  <h2>Erklärseite</h2>

  <div>
    <h3>
      Verwendung der Applikation
    </h3>
    <p></p>
  </div>

  <div>
    <h3>Verbesserungen</h3>
    <ul>
      <li>Startseite übersichtlich umgestaltet, mit dem Menu im Header sind die
        wichtigsten Punkte direkt ersichtlich.</li>
      <li>Angebote sind einfacher zugänglich und einheitlich dargestellt.</li>
      <li>Kontaktaufnahme ist möglich auf einen Klick dank dem Button im Header.</li>
      <li>Alle Elemente sind konsistent und einheitlich dargestellt. (Farben,
        Formen, Icons, Buttons,…)</li>
      <li>Nur nützliche Verlinkungen aufgeführt.</li>
      <li>Mit Überschriften, Farben und einfacher Auflistung eine Hierarchie
        geschafft.</li>
      <li>Logo überarbeitet und webseitentauglich gemacht.</li>
    </ul>
  </div>

  <div>
    <h3>Abweichungen vom Konzept</h3>
    <ul>
      <li>Auswahl der Behandlung, der Daten und der Uhrzeit konnten wir nicht
        nach dem Konzept gestalten, da wir sie nicht wie normal ansprechen
        konnten.</li>
      <li>Wir haben eine Bestätigung der Buchung hinzugefügt, da wir die im
        Mockup vergessen haben.</li>
    </ul>
  </div>

</div>