<div class="card">
  <img class="icon" src="/uploads/lab.svg" alt="" />
  <div class="card-text">
    <h3>Telefon</h3>
    <a>+41 12 345 67 89</a>
  </div>
</div>

<div class="card">
  <img class="icon" src="/uploads/lab.svg" alt="" />
  <div class="card-text">
    <h3>E-Mail</h3>
    <a>bhfpraxiswichtrach@hin.ch</a>
  </div>
</div>