<div class="body">
  <h2>Kontakt</h2>
  <div class="auflistung-angebote">
    <div class="card">
      <img class="icon" src="/uploads/telefon.svg" alt="" />
      <div class="card-text">
        <h3>Telefon</h3>
        <a>+41 12 345 67 89</a>
      </div>
    </div>

    <div class="card">
      <img class="icon" src="/uploads/mail.svg" alt="" />
      <div class="card-text">
        <h3>E-Mail</h3>
        <a>bhfpraxiswichtrach@hin.ch</a>
      </div>
    </div>

    <div class="card absage">
      <img class="icon" src="/uploads/absage.svg" alt="" />
      <div class="card-text">
        <h3>Terminabsagen</h3>
        <p>Bitte mailen Sie keine Terminabsagen, sondern rufen Sie uns an.</p>
      </div>
    </div>

    <div class="card">
      <img class="icon" src="/uploads/adresse.svg" alt="" />
      <div class="card-text">
        <h3>Adresse</h3>
        <a href="">Bahnhofpraxis Wichtrach AG</a>
        <a href="">Bahnhofstrasse 28</a>
        <br />
        <a href="">3114 Wichtrach</a>
      </div>
    </div>

    <div class="card">
      <img class="icon" src="/uploads/notfall.svg" alt="" />
      <div class="card-text">
        <h3>Notfallnummer</h3>
        <p>24h regionaler ärztlicher Notfalldienst</p>
        <a href="">+41 12 345 67 89</a>
      </div>
    </div>
  </div>

  <div class="oeffnungszeiten">
    <h2>Öffnungszeiten</h2>
    <div class="oeffnungszeiten-inhalt">
      <div class="card">
        <img class="icon" src="/uploads/haus.svg" alt="" />
        <div class="card-text">
          <h3>Praxisöffnungszeiten</h3>
          <p>Montag - Freitag</p>
          <a>07:30 – 12:00 / 13.00 – 17:00 Uhr</a>
        </div>
      </div>

      <div class="card">
        <img class="icon" src="/uploads/telefon.svg" alt="" />
        <div class="card-text">
          <h3>Telefonische Erreichbarkeiten</h3>
          <p>Montag - Freitag</p>
          <a>08.15 – 11:00 / 13:00 – 16:00 Uhr</a>
        </div>
      </div>
    </div>
  </div>
</div>