<div class="login-site">
  <div class="login_content">
    <h1>Share your journey</h1>
    <form action="/login" method="post">
      <input
        class="formular_login"
        type="int"
        name="name"
        placeholder="Username"
      />
      <input
        class="formular_login"
        type="text"
        name="passwort"
        placeholder="Password"
      />
      <input type="submit" />
    </form>
    <button><a href="/register">Registrieren</a></button>
  </div>
</div>