<div class="new_post-site">
  <div class="Form_box">
    <form action="/create_post" method="post">
      <h2>Neuer Post</h2>
      <h3>Datum</h3>
      <input class="formular_newpost" type="int" name="created_at" />
      <h3>Titel</h3>
      <input class="formular_newpost" type="text" name="title" />
      <h3>Text</h3>
      <input class="formular_text" type="text" name="text" />
      <input class="formular_submit" type="submit" />
    </form>
  </div>
</div>