<div class="new_post-site">
  <div class="Form_box">
    <form action="/create_post" enctype="multipart/form-data" method="post">
      <h2>Neuer Post</h2>
      <div class="form-newpost">
        <div>
          <h3>Datum</h3>
          <input class="formular_newpost" type="int" name="created_at" />
          <h3>Titel</h3>
          <input class="formular_newpost" type="text" name="title" />
          <h3>1. Paragraph</h3>
          <input class="formular_text" type="text" name="text1" />
        </div><div>
          <h3>2. Paragraph</h3>
          <input class="formular_text" type="text" name="text2" />
          <input type="file" name="img" />
          <input type="file" name="img" />
          <input type="file" name="img" />
          <input type="file" name="img" />
        </div>
      </div>
      <input class="formular_submit" type="submit" />
    </form>
  </div>
</div>