<div class="body">
  <div class="detail-nav">
    <a href="/team">Team</a>
    <img src="" alt="" />
    <img class="icon-detail-nav" src="/uploads/arrow-nav.svg" alt="" />
    <a href="">Offene Stellen</a>
  </div>
  <div class="offene-stellen-detail">
    <h2>Offene Stellen</h2>
    <div class="offene-stellen-detail-inhalt">
      <p>Zur Ergänzung unseres Teams suchen wir per Oktober 2024 oder nach
        Vereinbarung eine/n:</p>
      <div class="stellen-auflistung">
        <div class="stellen-auflistung-text">
          <h3>
            Praxisassistentin / Praxisassistent
          </h3>
          <h3>Fachärztin / Fachartzt</h3>
        </div>
        <div class="stellen-auflistung-text">
          <h3>50-100%</h3>
          <h3>80-100%</h3>
        </div>
      </div>

      <div class="offene-stellen-detail-text-2">
        <div>
          <h3>Das bewirkst du bei uns:</h3>
          <ul>
          <li>Übernahme eines beriets aufgebauten, vielseitigen Patientenstamms</li>
          <li>Modernes Arbeitsumfeld mit digitalem Röntgen, Selbstdispensation
            und einem motovierten Team an MPAs.
          </li>
          <li>Start im Angestelltenverhältnis und im Verlauf Partnerschaft
            möglich.</li>
          <li>Wenig belastender Notfalldienst</li>
          <li>Überdurchschnittliche Verdienstmöglichkeiten bei Praxis mit
            Selbstdispensation.</li>
          <li>Regelmässige Qualitätszirkel im Rahmen der Medixpartnerschaft.</li>
          <li>Fachlichen und persönlichen Austausch.</li>
          <li>Gut funktionierendes Netzwerk mit den Spezialisten der Region.</li>
          <li>Zentrale Lage direkt am Bahnhof Wichtrach.</li>
        </ul>
        </div>

        <div>
        <div>
          <h3>Das bringst du mit:</h3>
          <ul>
          <li>Abgeschlossene Facharztausbildung allgemeine Innere Medizin oder fortgeschrittene Assistenzärzt:in</li>
          <li>Du arbeitest gerne im Team von mehreren Ärzt:innen und MPAs
          </li>
          <li>Du hast Interesse Dich in der Praxis mit Deinen Ideen einzubringen.</li>
        </ul>
      </div>

      <div class="interessiert">
        <h3>Interessiert</h3>
<p>Bitte richte deine schriftliche Bewerbung direkt an
    Dr. med. Kahtarina Schönenbrger. </p>
  <a href="">bhfpraxiswichtrach@hin.ch</a>
  <p>Weitere Auskünfte erteilen wir dir gerne telefonisch.</p>
  <a href="">+41 12 345 67 89</a>
      </div>
    </div>
    </div>
  </div>
</div>