<div class="user-site">
  <div class="user-infos">
    <img
      class="profile_img"
      src="uploads/joshua-yu-JGxdIlKy3lA-unsplash.jpg"
      alt=""
    />
    <div class="user_text">
      <h3>{{user.name}}</h3>
      <div class="user_numbers">
        <h3 class="user">0 Likes</h3>
        <h3 class="user">0 Posts</h3>
      </div>
      <button class="logout"><a href="/login">Logout</a></button>
      
    </div>
  </div>
  {{> blogpost}}

</div>

