<div class="user_infos">
  <img class="profile_img" src="" alt="" />
  <div class="user_text">
    <h3>username</h3>
    <div class="user_numbers">
      <h3>28 Likes</h3>
      <h3>7 Posts</h3>
    </div>
  </div>
</div>

<div class="body">

</div>