<div class="user-site">
  <div class="user-infos">
    <img
      class="profile_img"
      src="uploads/joshua-yu-JGxdIlKy3lA-unsplash.jpg"
      alt=""
    />
    <div class="user_text">
      <h3>{{username}}</h3>
      <div class="user_numbers">
        <h3 class="user">28 Likes</h3>
        <h3 class="user">7 Posts</h3>
      </div>
    </div>
  </div>
  {{> blogpost}}

</div>

