<form action="/register" method="POST">
  E-Mail:
  <input name="name" type="text" /><br />
  Passwort:
  <input name="passwort" type="passwort" /><br />
  <input type="submit" value="Registrieren" />
</form>