<header>
  <a class="button" id="logo" href="/">w</a>
  <div class="nav">

    <a href="/angebot">Angebot</a>
    <a href="/team">Team</a>
    <a href="/kontakt">Kontakt</a>
    <a id="nav-button" class="button" href="/termin-patientendetails">Termin
      buchen</a>
  </div>
</header>

<div class="startseite">
  <h1>Wilkommen in der <br />Bahnhofpraxis Wichtrach</h1>
</div>

<div class="body">
  <h2>Aktuelles</h2>

  <div class="card">
    <img class="icon" src="/uploads/stop.svg" alt="" />
    <div class="card-text">
      <h3>Patientenaufnahmestopp</h3>
      <p>Da unsere Hausartspraxis ausgelastet ist, können wir leider keine neuen
        Patienten aufnehmen.</p>
    </div>
  </div>

</div>