<div class="body">
  <h2>Team</h2>
  <div class="auflistung_team">
    <div class="card_team">
      <img src="/uploads/Portrait1.jpeg" alt="" />
      <h4>Dr.med. Fachärztin Allgemeine Innere Medizin</h4>
      <h3>Sandra Schönenberger</h3>
      <a class="button2" href="detail-team-sandra">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait2.jpeg" alt="" />
      <h4>Med. Praxiskoordinatorin, Leitende MPA</h4>
      <h3>Jenny Bürki</h3>
      <a class="button2" href="detail-team-jenny">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait3.jpeg" alt="" />
      <h4>Dr.med. Facharzt für Allgemeine Medizin.</h4>
      <h3>Michael Schenk</h3>
      <a class="button2" href="detail-team-michael">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait1.jpeg" alt="" />
      <h4>MPA</h4>
      <h3>Carina Peter</h3>
      <a class="button2" href="detail-team-carina">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait2.jpeg" alt="" />
      <h4>MPA</h4>
      <h3>Stephanie Beer</h3>
      <a class="button2" href="detail-team-stephanie">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait3.jpeg" alt="" />
      <h4>MPA in Ausbildung</h4>
      <h3>Leon Oppliger</h3>
      <a class="button2" href="detail-team-leon">Profil ansehen</a>
    </div>
  </div>

  <div class="offene-stellen">
    <h2>Offene Stellen</h2>
    <p>Zur Ergänzung unseres Teams suchen wir per Oktober 2024 oder nach
      Vereinbarung eine/n:</p>
    <div class="stellen-auflistung">
      <div class="stellen-auflistung-text">
        <h3>
          Praxisassistentin / Praxisassistent
        </h3>
        <h3>Fachärztin / Fachartzt</h3>
      </div>
      <div class="stellen-auflistung-text">
        <h3>50-100%</h3>
        <h3>80-100%</h3>
      </div>
    </div>
    <a class="button2" href="offene-stellen">Weitere Infos</a>
  </div>

  <div class="offene-stellen">
    <h2>Ausbildung</h2>
    <p>Seit mehr als 20 Jahren bilden wir mit viel Freude und Sorgfalt die
      Profis von Morgen aus.</p>
    <div class="stellen-auflistung">
      <div class="stellen-auflistung-text">
        <h3>
          Medizinische Praxisassistent / Praxisassistenin
        </h3>
        <h3>Medizinstudent / Medizinstudentin</h3>
        <h3>Assistenzärztin / Assistenzarzt</h3>
      </div>
    </div>
    <a class="button2" href="ausbildung">Weitere Infos</a>
  </div>
</div>