<div class="body">
  <h2>Team</h2>
  <div class="auflistung_team">
    <div class="card_team">
      <img src="/uploads/Portrait1.jpeg" alt="" />
      <h4>Dr.med. Fachärztin</h4>
      <h3>Sandra Schönenberger</h3>
      <a class="button2" href="detail-team">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait2.jpeg" alt="" />
      <h4>Dipl. Ärztin</h4>
      <h3>Maren Haldemann</h3>
      <a class="button2" href="detail-team">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait3.jpeg" alt="" />
      <h4>Dr. med.</h4>
      <h3>Michael Schenk</h3>
      <a class="button2" href="detail-team">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait1.jpeg" alt="" />
      <h4>Dr.med. Fachärztin</h4>
      <h3>Sandra Schönenberger</h3>
      <a class="button2" href="detail-team">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait2.jpeg" alt="" />
      <h4>Dipl. Ärztin</h4>
      <h3>Maren Haldemann</h3>
      <a class="button2" href="detail-team">Profil ansehen</a>
    </div>
    <div class="card_team">
      <img src="/uploads/Portrait3.jpeg" alt="" />
      <h4>Dr. med.</h4>
      <h3>Michael Schenk</h3>
      <a class="button2" href="detail-team">Profil ansehen</a>
    </div>
  </div>

</div>