<header>
  <a class="button" id="logo" href="/">w</a>
  <div class="nav">

    <a href="/angebot">Angebot</a>
    <a href="/team">Team</a>
    <a href="/kontakt">Kontakt</a>
    <a id="nav-button" class="button" href="/termin-patientendetails">Termin
      buchen</a>
  </div>
</header>

<div class="body">
  <h2>Termin buchen</h2>
  <div class="termin-menu">
    <a
      class="termin-menu-punkt menu-aktiv"
      href="/termin-patientendetails"
    >Patientendetails</a>
    <a class="termin-menu-punkt" href="/termin-behandlung">Behandlung</a>
    <a class="termin-menu-punkt" href="/termin-datum">Datum & Uhrzeit</a>
    <a class="termin-menu-punkt" href="/termin-abschliessen">Buchung
      abschliessen</a>
  </div>
  <h3>Patientendetails</h3>
  <div class="kontakt">
    <form class="form card" action="">
      <div>
        <label for="vornamen">Vornamen</label><br />
        <input
          type="text"
          id="vornamen"
          name="vornamen"
          placeholder="Vornamen"
        />
      </div>
      <div>
        <label for="nachnamen">Nachnamen</label><br />
        <input
          type="text"
          id="nachnamen"
          name="nachnamen"
          placeholder="Nachnamen"
        />
      </div>
      <div>
        <label for="email">E-Mail</label><br />
        <input type="text" id="email" name="email" placeholder="E-Mail" />
      </div>
      <div>
        <label for="telefon">Telefon</label><br />
        <input
          type="telefon"
          id="telefon"
          name="telefon"
          placeholder="Telefon"
        />
      </div>
      <div>
        <label for="strasse">Strasse, Nr.</label><br />
        <input
          type="strasse"
          id="strasse"
          name="strasse"
          placeholder="Strasse, Nr."
        />
      </div>
      <div>
        <label for="ort">Ort</label><br />
        <input type="ort" id="ort" name="ort" placeholder="Ort" />
      </div>
    </form>
    <a class="button2" href="/termin-behandlung">weiter</a>
  </div>
</div>