<div class="body">
  <h2>Termin buchen</h2>
  <div class="termin-menu">
    <a
      class="termin-menu-punkt"
      href="/termin-patientendetails"
    >Patientendetails</a>
    <a class="termin-menu-punkt" href="/termin-behandlung">Behandlung</a>
    <a class="termin-menu-punkt" href="/termin-datum">Datum & Uhrzeit</a>
    <a class="termin-menu-punkt menu-aktiv" href="/termin-abschliessen">Buchung
      abschliessen</a>

  </div>
  <h3>Buchung abschliessen</h3>
  <div class="kontakt">
    <div class="abschliessen card">
      <div>
        <h5>Patientendetails</h5>
        <p>
          Vorname
          <br />
          Nachname
          <br />
          Strasse, Nr.
          <br />
          Ort
          <br />
          <br />
          E-Mail
          <br />
          Telefon</p>
      </div>
      <div class="abschliessen-text">
        <div>
          <h5>Behandlung</h5>
          <p>Art der Behandlung</p>
        </div>
        <div>
          <h5>Uhrzeit & Datum</h5>
          <p>23.02.2025
            <br />
            15:30</p>
        </div>
      </div>
    </div>
    <a class="button2" href="/termin-datum">zurück</a>
    <a class="button" href="/termin-bestaetigung">buchen</a>
  </div>
</div>