<div class="body">
  <div class="bestätigung">
    <img class="icon" src="/uploads/check-circle.svg" alt="" />
    <h2>Vielen Dank!</h2>
    <p>Ihre Buchung wird verarbeitet.</p>
    <a class="button" href="/">Home</a>
  </div>
</div>