<header>
  <a class="button" id="logo" href="/">w</a>
  <div class="nav">

    <a href="/angebot">Angebot</a>
    <a href="/team">Team</a>
    <a href="/kontakt">Kontakt</a>
    <a id="nav-button" class="button" href="/termin-patientendetails">Termin
      buchen</a>
  </div>
</header>

<div class="body">
  <div class="bestätigung">
    <img class="icon" src="/uploads/check-circle.svg" alt="" />
    <h2>Vielen Dank!</h2>
    <p>Ihre Buchung wird verarbeitet.</p>
    <a class="button" href="/">Home</a>
  </div>
</div>