<div class="body">
  <h2>Termin buchen</h2>
  <div class="termin-menu">
    <a
      class="termin-menu-punkt"
      href="/termin-patientendetails"
    >Patientendetails</a>
    <a class="termin-menu-punkt" href="/termin-behandlung">Behandlung</a>
    <a class="termin-menu-punkt menu-aktiv" href="/termin-datum">Datum & Uhrzeit</a>
    <a class="termin-menu-punkt" href="/termin-abschliessen">Buchung
      abschliessen</a>
  </div>
  <h3>Datum & Uhrzeit</h3>
  <div class="kontakt">
    <div class="datum card">
      <label for="datum">Datum wählen</label><br />
      <input type="date" id="datum" name="datum" value="2025-02-23" />
    </div>
    <div class="datum card">
      <label for="uhrzeit">Uhrzeit wählen</label><br />
      <input type="time" id="uhrzeit" name="uhrzeit" step="900" value="15:30" />
    </div>
    <a class="button2" href="/termin-abschliessen">weiter</a>
  </div>

</div>