<div class="body">
  <h2>Termin buchen</h2>
  <div class="termin-menu">
    <a
      class="termin-menu-punkt"
      href="/termin-patientendetails"
    >Patientendetails</a>
    <a class="termin-menu-punkt" href="/termin-behandlung">Behandlung</a>
    <a class="termin-menu-punkt menu-aktiv" href="/termin-datum">Datum & Uhrzeit</a>
    <a class="termin-menu-punkt" href="/termin-abschliessen">Buchung
      abschliessen</a>

  </div>
</div>