<div class="body">
  <h2>Termin buchen</h2>
  <div class="termin-menu">
    <a
      class="termin-menu-punkt"
      href="/termin-patientendetails"
    >Patientendetails</a>
    <a
      class="termin-menu-punkt menu-aktiv"
      href="/termin-behandlung"
    >Behandlung</a>
    <a class="termin-menu-punkt" href="/termin-datum">Datum & Uhrzeit</a>
    <a class="termin-menu-punkt" href="/termin-abschliessen">Buchung
      abschliessen</a>
  </div>
  <h3>Behandlung</h3>
  <div class="kontakt">
    <div class="dropdown card">
      <label for="behandlung">Behandlung wählen</label>
      <select id="behandlung" name="behandlung">
        <option value=""></option>
        <option value="massage">Massage</option>
        <option value="physiotherapie">Physiotherapie</option>
        <option value="akupunktur">Akupunktur</option>
        <option value="chiropraktik">Chiropraktik</option>
        <option value="osteopathie">Osteopathie</option>
      </select>
    </div>
    <a class="button2" href="/termin-datum">weiter</a>
  </div>
</div>