<div class="body">
  <h2>Termin buchen</h2>
  <div class="termin-menu">
    <a
      class="termin-menu-punkt menu-aktiv"
      href="/termin-patientendetails"
    >Patientendetails</a>
    <a class="termin-menu-punkt" href="/termin-behandlung">Behandlung</a>
    <a class="termin-menu-punkt" href="/termin-datum">Datum & Uhrzeit</a>
    <a class="termin-menu-punkt" href="/termin-abschliessen">Buchung
      abschliessen</a>
  </div>
  <h3>Patientendetails</h3>
  <div>
    <form action="">
      <label for="vornamen">Vornamen</label><br />
      <input type="text" id="vornamen" name="vornamen" /><br />
      <label for="vornamen">Vornamen</label><br />
      <input type="text" id="vornamen" name="vornamen" /><br />
    </form>
  </div>
</div>