* {
  font-family: "Outfit", sans-serif;
}

header,
footer {
  background-color: white;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 120px;
  align-items: center;
}

a {
  text-decoration: none;
}

.interessiert a {
  color: var(--darkblue);
}

.active {
  color: var(--darkblue);
}

/* roots */
:root {
  --black: #1e1e1e;
  --white: #fff;
  --darkblue: #276bf2;
  --lightblue: #dce8ff;
  --lightblue2: #f4f6fc;
}

/* Texte */

h1 {
  font-size: 65px;
  color: var(--darkblue);
  font-weight: 700;
  margin-bottom: 50px;
  margin-left: 120px;
}

h2 {
  font-size: 40px;
  color: black;
  font-weight: 400;
  margin-bottom: 70px;
}

h3 {
  font-size: 25px;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  color: var(--darkblue);
  font-weight: 400;
  margin-top: 0px;
}

h5 {
  font-size: 15px;
  color: black;
  font-weight: 700;
}

a,
p {
  font-size: 15px;
  color: black;
  font-weight: 400;
}

/***** button *****/

.button {
  color: var(--white) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--darkblue);
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 30px;
  width: max-content;
  height: max-content;
}

#nav-button {
  margin-left: 70px;
}

#logo {
  padding: 0px;
  width: 75px;
  height: 75px;
  font-size: 50px;
  font-weight: 400;
  border-radius: 100px;
  margin: 0;
}

.button2 {
  color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: var(--darkblue);
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 20px;
  width: max-content;
  margin-top: 30px;
}

/***** navigation *****/

.nav a {
  margin-left: 70px;
}

.nav {
  display: flex;
  align-items: center;
}

.body {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

/***** card *****/
.card {
  display: flex;
  padding: 35px;
  border-radius: 33px;
  background: #fff;
  box-shadow: 5px 5px 13.1px 0px rgba(0, 0, 0, 0.2);
  justify-content: top;
}

.icon {
  width: 40px;
  height: 40px;
  color: var(--darkblue);
  margin-top: 35px;
  margin-right: 35;
}

.icon-pfeil {
  width: 40px;
  height: 40px;
  color: var(--darkblue);
  float: right;
}

.icon-detail-nav {
  width: 30px;
  height: 30px;
  color: var(--darkblue);
}

/***** Startseite *****/

div.startseite {
  object-fit: contain;
  background-position: center;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

div.startseite {
  background-image: url("/uploads/startseite_hintergrund.jpg");
}

/***** Angebotsseite *****/

.auflistung-angebote {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Spalten mit gleicher Breite */
  gap: 35px; /* Abstand zwischen den Karten */
}

/***** Detailseiten *****/
.detail-nav {
  display: flex;
  align-items: center;
}

.detail-nav a {
  color: var(--darkblue);
}

.detail-angebot-inhalt a.button,
.detail-team-inhalt a.button {
  margin-top: 80px;
  margin-left: 0px;
}

.detail-img {
  object-fit: cover;
  border-radius: 33px;
  height: 450px;
  width: 50%;
}

.detail-team-inhalt,
.detail-angebot-inhalt {
  display: flex;
}

.detail-team-text,
.detail-angebot-text {
  width: 45%;
  margin-right: 5%;
}

/****** Teamseite *****/

.card_team img {
  object-fit: cover;
  width: 387px;
  height: 276px;
  border-radius: 33px;
}

.card_team h3 {
  margin-top: 0px;
}

.card_team h4 {
  margin-top: 50px;
  margin-bottom: 0px;
}

.auflistung_team {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Spalten mit gleicher Breite */
  gap: 35px; /* Abstand zwischen den Karten */
  row-gap: 50px;
}

/*** offene Stellen ***/

.offene-stellen {
  margin-top: 100px;
}

.stellen-auflistung,
.interessiert {
  display: flex;
  background-color: var(--lightblue);
  border-radius: 33px;
  padding: 40px;
  box-shadow: 5px 5px 13.1px 0px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

.stellen-auflistung-text {
  margin-right: 30%;
}

.stellen-auflistung h3 {
  padding: 15px 0px 15px 0px;
  margin: 0px;
}

.interessiert {
  flex-direction: column;
  background-color: var(--lightblue2);
}

.offene-stellen-detail-text-2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

li {
  margin-bottom: 20px;
}

ul {
  padding-left: 30px;
  width: 65%;
}

.interessiert h3 {
  margin-top: 0;
}

/*** Kontakt ***/

.oeffnungszeiten {
  margin-top: 100px;
}

.oeffnungszeiten-inhalt {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 Spalten mit gleicher Breite */
  gap: 35px; /* Abstand zwischen den Karten */
}

.absage {
  background-color: var(--lightblue2);
}

/*** Termin ***/

.termin-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  max-width: 1000px;
  padding: 0 20px;
}

.termin-menu-punkt {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-style: solid;
  border-color: var(--lightblue);
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 40px;
  width: max-content;
  z-index: 1;
}

.menu-aktiv {
  background-color: var(--lightblue);
}

.termin-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: #dbe2ff;
  z-index: 0;
}

/*** Form ***/

.kontakt {
  display: flex;
  align-items: end;
  margin-top: 30px;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 Spalten mit gleicher Breite */
  gap: 35px; /* Abstand zwischen den Karten */
  width: 60%;
  margin-right: 20px;
}

input,
select {
  border-style: solid;
  border-width: 2px;
  border-color: var(--darkblue);
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

input::placeholder {
  color: var(--lightblue);
}

.abschliessen {
  width: 35%;
  justify-content: space-between;
  padding-right: 10%;
  margin-right: 20px;
  height: max-content;
}

.abschliessen h5 {
  margin-top: 0;
  margin-bottom: 3px;
}

.abschliessen p {
  margin-bottom: 0;
}

.abschliessen-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bestätigung {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestätigung .icon {
  width: 300px;
  height: 300px;
  margin: 0;
  margin-top: 50px;
}

.bestätigung .button {
  margin: 0;
  margin-top: 30px;
}

.bestätigung h2 {
  margin-bottom: 0;
}

/*** dropdown ***/
.dropdown,
.datum {
  flex-direction: column;
  width: 40%;
  margin-right: 20px;
}

/*** footer ***/
hr {
  width: 85%;
  opacity: 30%;
  margin-top: 100px;
}
